body {
    background-color: #202028;
    font-family: sans-serif;
    text-align: center;
}
canvas {
    border: solid .2em #fff;
    height: 90vh;

}
h1 {
    font-size: 80px;
    font-family: fantasy;
    color: green;
}